body {
    background : rgba(6, 14, 27, 0.89);
    margin: 0;
    padding: 0;
    font-family: "Gill Sans MT";
}
header{
    text-align: center;
}
header img{
    height: 200px;
    width: 70%;
    align-items: center;
}
#menu {
    height:40px;
    width: 70%;
    background: rgba(14, 14, 27, 0.89);
    margin: auto;
    text-align: center;
}
#content{
    width: 70%;
    border: 3px solid #333333;
    background: rgba(14, 14, 27, 0.89);
    margin: auto;
    text-align: center;
}

#menu ul {
    margin: 0px;
    padding: 0px;
}

#menu ul li {
    list-style: none;
}

#menu ul li a {
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px;
    color: white;
}

#menu ul li a:hover {
    color: orange;
}

.down{
    display: block;
    float: left;
}

.down_content{
    display: none;

}

.down_content li {
    text-decoration: none;
    display: block;
}

.down:hover .down_content {
    display: block;
    background-color: #333333;
}

#fblogo {
    Float: right;
}

h1{
   color: white;
}

#PINS{
  color: white;
  }

#HYPERBEAST{
    color: white;
}

#login{
    min-height: 170px;
    width: 60%;
    margin: auto;
    text-align: center;

}

.ll{
    color: whitesmoke;
    float: left;
    align-items: center;
    text-align: center;
    clear: both;
}

.in{
    float: left;
    clear: right;
}

.button{
    float: left;
    margin: 10px;
    text-align: center;
}

p{
    color: white;
}

#New {
    width: 70%;
    border: 3px solid #333333;
    background: rgba(14, 14, 27, 0.89);
    text-align: center;
    margin:auto;
}

.PageFooter{
    width: 70%;
    border: 3px solid #333333;
    background: rgba(14, 14, 27, 0.89);
    margin: auto;
    text-align: center;
}
